<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.style.css" />
    <title>숫자야구</title>
  </head>
  <body>
    <h1>숫자 야구 게임</h1>
    <div class="button-container">
      <div class="button" onclick="window.location.href='/game'">
        <h2>시작하기</h2>
      </div>
      <div class="button" onclick="window.location.href='/record'">
        <h2>결과보기</h2>
      </div>
    </div>
  </body>
</html>
